@import "fonts/fa/font-awesome"
$blue: #2780E3
$black: #222
$red: #ff0039
$orange: #ff7518
$violet: #9954bb
$green: #3fb618

// layout
.container
	margin: 0 auto
	width: 1400px !important
	max-width: 1400px
	padding: 0 30px

body
	padding-bottom: 30px

// blocks
.heading
	margin-top: 0
	display: flex
	justify-content: space-between
	width: 100%
	align-items: center
	a
		color: #fff
	.status
		color: #fff
		.status-item
			display: inline-flex
			align-items: center
			.text
				font-size: 16px
				margin-left: 7px
		.status-item+.status-item
			margin-left: 10px

.header
	background: $black
	margin-bottom: 20px
	position: relative
	z-index: 2
	.nav-submenu
		display: flex
		justify-content: space-between
		background: $black
		li
			flex: 1 1 auto
			text-align: center
			white-space: nowrap
			a
				color: #fff
				font-size: 16px
				&:active,
				&:focus,
				&:hover
					background: none
				&:hover
					color: #d3d3d3
			&.active a
				background: #fff
				color: #222
			&.color.active a
				background: $blue
				color: #fff

.parameters
	background: $blue
	margin-bottom: 20px
	margin-top: -21px
	.flex-navs
		display: flex
		flex-wrap: wrap
	.nav-submenu
		background: $blue
		display: flex
		justify-content: space-between
		width: 100%
		li
			flex: 1 1 auto
			text-align: center
			white-space: nowrap
			border-left: 1px solid #fff
			border-right: 1px solid #fff
			border-top: 1px solid #fff
			&+li
				border-left: none
			a
				color: #fff
				font-size: 16px
				&:active,
				&:focus,
				&:hover
					background: none
				&:hover
					color: #d3d3d3
		&.active
			order: 2
			li.active
				a
					background: #fff
					color: #222


// fix bootstrap
.navbar-inverse .navbar-nav>li>a:focus
	color: #fff
	background-color: inherit
.navbar-inverse .navbar-nav>li>a:focus:hover
	color: #fff
	background-color: #1967be

.form-horizontal
	margin: 0
	overflow-x: hidden

.control-label
	font-weight: normal

fieldset+fieldset
	margin-top: 10px
.form-group:last-child
	margin-bottom: 0

.radio label, .checkbox label
	padding-left: 0
.iradio_square-blue,
.icheckbox_square-blue
	margin-right: 7px

.breadcrumb
	margin-bottom: 15px
	padding-left: 0
	background: none
	a
		color: #fff