<html>
<head>
	<title>Информационная система</title>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.css">
	<link type="text/css" rel="stylesheet" href="js/vendor/icheck/skins/square/blue.css">
	<link type="text/css" rel="stylesheet" href="css/crm.css">
	<meta name="viewport" content="width=1460">
</head>
<body>
	<div class="header">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<ul class="nav navbar-nav navbar-nav-left">
					<li class="active"><a href="#">
						Объекты
					</a></li>
					<li><a href="#">
						Покупатели
					</a></li>
					<li><a href="#">
						Аналитика
					</a></li>
					<li><a href="#">
						Email
					</a></li>
					<li><a href="#">
						Справка
					</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							Константин Константинович <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Настройки</a></li>
							<li><a href="#">Выход</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<h3 class="heading">
				<a href="#">#2 янино</a>
				<div class="status">
					<div class="status-item">
						<i class="fa fa-circle text-success"></i>
						<span class="text">Активный</span>
					</div>
					<div class="status-item">
						<i class="fa fa-circle text-success"></i>
						<span class="text">Чужой</span>
					</div>
				</div>
			</h3>
			<ol class="breadcrumb ng-scope">
				<li ng-repeat="bc in breadcrumbs" ng-class="{'active': bc.active}" class="ng-scope"><a ng-if="!bc.active" ng-href="#/" ng-bind="bc.title" class="ng-binding ng-scope" href="#/">Главная</a></li>
				<li ng-repeat="bc in breadcrumbs" ng-class="{'active': bc.active}" class="ng-scope"><a ng-if="!bc.active" ng-href="#/real-estate" ng-bind="bc.title" class="ng-binding ng-scope" href="#/real-estate">Объекты</a></li>
				<li ng-repeat="bc in breadcrumbs" ng-class="{'active': bc.active}" class="ng-scope active"><span ng-if="bc.active" ng-bind="bc.title" class="ng-binding ng-scope">#2 янино</span></li>
			</ol>
			<ul class="nav nav-submenu">
				<li><a href="#second" data-toggle="tab">
					<i class="fa fa-folder"></i>
					Материалы
				</a></li>
				<li><a href="#second" data-toggle="tab">
					<i class="fa fa-history"></i>
					История
				</a></li>
				<li><a href="#second" data-toggle="tab">
					<i class="fa fa-file"></i>
					Договоры
				</a></li>
				<li><a href="#second" data-toggle="tab">
					<i class="fa fa-user"></i>
					Продавец
				</a></li>
				<li><a href="#second" data-toggle="tab">
					<i class="fa fa-comments"></i>
					Переписка с продавцом
				</a></li>
				<li><a href="#second" data-toggle="tab">
					<i class="fa fa-comments"></i>
					Переписка с покупателем
				</a></li>
				<li class="active color"><a href="#first" data-toggle="tab">
					<i class="fa fa-puzzle-piece"></i>
					Параметры объекта
				</a></li>
			</ul>
		</div>
	</div>
	<div class="tab-content">
		<div class="tab-pane active" id="first">
			<div class="parameters">
				<div class="container">
					<div class="flex-navs">
						<ul class="nav nav-submenu">
							<li><a href="#fourth" data-toggle="tab">Определение объекта</a></li>
							<li><a href="#fourth" data-toggle="tab">Месторасположение объекта</a></li>
							<li><a href="#third" data-toggle="tab">Площади Объекта</a></li>
							<li><a href="#third" data-toggle="tab">Имущественно-правовой статус</a></li>
							<li clss="disabled"><a  href="#third" data-toggle="tab">Функциональное назначение</a></li>
						</ul>
						<ul class="nav nav-submenu active">
							<li><a href="#third" data-toggle="tab">Цена Объекта</a></li>
							<li><a href="#third" data-toggle="tab">Схема сделки</a></li>
							<li><a href="#third" data-toggle="tab">Экспозиция</a></li>
							<li><a href="#third" data-toggle="tab">Возможное использование Объекта</a></li>
							<li class="active"><a href="#third" data-toggle="tab">Инжерно-транспортная инфраструктура и общее состояние участка</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="tab-content">
					<div class="tab-pane" id="third">
						<form name="paramsForm" class="form-horizontal ng-pristine ng-scope ng-invalid ng-invalid-required">
							<fieldset>
								<legend>Определение объекта</legend>
								<div class="form-group">
									<label class="control-label col-sm-3">Номер объекта</label>
									<div class="col-sm-3 col-md-2">
										<input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="realEstate.id" ng-readonly="true" readonly="readonly" value="2">
									</div>
									<label class="control-label col-sm-2">Имя объекта</label>
									<div class="col-sm-4 col-md-5">
										<input type="text" name="objectName" class="form-control ng-pristine ng-untouched ng-valid ng-valid-required" ng-model="realEstate.objectName" required="" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3">Состояние</label>
									<div class="col-sm-4">
										<!-- ngRepeat: it in states --><div class="radio ng-scope" ng-repeat="it in states">
											<label class="ng-binding">
												<input name="state" type="radio" ng-model="realEstate.state" value="OWN" required="" class="ng-pristine ng-untouched ng-valid ng-valid-required">
												Свой
											</label>
										</div><!-- end ngRepeat: it in states --><div class="radio ng-scope" ng-repeat="it in states">
											<label class="ng-binding">
												<input name="state" type="radio" ng-model="realEstate.state" value="FOREIGN" required="" class="ng-pristine ng-untouched ng-valid ng-valid-required">
												Чужой
											</label>
										</div><!-- end ngRepeat: it in states -->
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3">Тип объекта</label>
									<div class="col-sm-4">
										<select name="type" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="realEstate.type" ng-options="t.val as t.name for t in types" ng-change="changeObjectType()" required=""><option value="" selected="selected" label=""></option><option value="0" label="Земельный участок">Земельный участок</option><option value="1" label="Имущественный комплекс">Имущественный комплекс</option><option value="2" label="Отдельно стоящее здание">Отдельно стоящее здание</option></select>
									</div>
								</div>
								<!-- ngIf: realEstate.type == 'IK' -->
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<div class="checkbox">
											<label>
												<input type="checkbox" ng-model="realEstate.segmenting" class="ng-pristine ng-untouched ng-valid">
												Возможность разбиения
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3">Класс объекта</label>
									<div class="col-sm-9">
										<!-- ngRepeat: it in kinds --><div class="checkbox ng-scope" ng-repeat="it in kinds">
											<label class="ng-binding">
												<input type="checkbox" name="objectClasses" checklist-value="it.val" ng-model="checked" class="ng-scope ng-pristine ng-untouched ng-valid">
												Промышленные объекты
											</label>
										</div><!-- end ngRepeat: it in kinds --><div class="checkbox ng-scope" ng-repeat="it in kinds">
											<label class="ng-binding">
												<input type="checkbox" name="objectClasses" checklist-value="it.val" ng-model="checked" class="ng-scope ng-pristine ng-untouched ng-valid">
												Деловое строительство
											</label>
										</div><!-- end ngRepeat: it in kinds --><div class="checkbox ng-scope" ng-repeat="it in kinds">
											<label class="ng-binding">
												<input type="checkbox" name="objectClasses" checklist-value="it.val" ng-model="checked" class="ng-scope ng-pristine ng-untouched ng-valid">
												Жилищное строительство
											</label>
										</div><!-- end ngRepeat: it in kinds --><div class="checkbox ng-scope" ng-repeat="it in kinds">
											<label class="ng-binding">
												<input type="checkbox" name="objectClasses" checklist-value="it.val" ng-model="checked" class="ng-scope ng-pristine ng-untouched ng-valid">
												Загородные объекты
											</label>
										</div><!-- end ngRepeat: it in kinds --><div class="checkbox ng-scope" ng-repeat="it in kinds">
											<label class="ng-binding">
												<input type="checkbox" name="objectClasses" checklist-value="it.val" ng-model="checked" class="ng-scope ng-pristine ng-untouched ng-valid">
												Авто
											</label>
										</div><!-- end ngRepeat: it in kinds -->
									</div>
								</div>
								<!-- ngRepeat: cn in realEstate.cadastralNumbers track by $index -->
							</fieldset>
							<fieldset>
								<legend>Адрес</legend>
								<div class="form-group">
									<label class="control-label col-sm-3">Точный адрес</label>
									<div class="col-sm-9">
										<input type="text" class="form-control ng-pristine ng-untouched ng-valid" name="fullAddress" ng-model="realEstate.fullAddress">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3">Адрес из объявления</label>
									<div class="col-sm-9">
										<input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" name="advertAddress" ng-model="realEstate.advertAddress" required="">
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3">Административный район</label>
									<div class="col-sm-5">
										<select name="administrativeRegion" ng-model="realEstate.administrativeRegion" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" required=""><option value="? object:null ?"></option>
											<option disabled="" value="Административные районы СПб">Административные районы СПб</option>
											<!-- ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Адмиралтейский">Адмиралтейский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Василеостровский">Василеостровский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Выборгский">Выборгский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Калининский">Калининский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Кировский">Кировский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Колпинский">Колпинский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Красногвардейский">Красногвардейский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Красносельский">Красносельский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Кронштадтcкий">Кронштадтcкий</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Курортный">Курортный</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Московский">Московский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Невский">Невский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Петроградский">Петроградский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Петродворцовый">Петродворцовый</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Приморский">Приморский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Пушкинский">Пушкинский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Фрунзенский">Фрунзенский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Центральный">Центральный</option><!-- end ngRepeat: l in spbLocations -->
											<option disabled="" value="Административные районы ЛО">Административные районы ЛО</option>
											<!-- ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Бокситогорский">Бокситогорский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Волосовский">Волосовский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Волховский">Волховский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Всеволожский">Всеволожский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Выборгский">Выборгский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Гатчинский">Гатчинский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Кингисеппский">Кингисеппский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Киришский">Киришский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Кировский">Кировский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Лодейнопольский">Лодейнопольский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Ломоносовский">Ломоносовский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Лужский">Лужский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Подпорожский">Подпорожский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Приозерский">Приозерский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Сланцевский">Сланцевский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Тихвинский">Тихвинский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Тосненский">Тосненский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Сосновоборский городской округ">Сосновоборский городской округ</option><!-- end ngRepeat: l in loLocations -->
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-sm-3"></label>
									<div class="col-sm-9">
										<button class="btn btn-primary">Изменить</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="tab-pane" id="fourth">...</div>
				</div>
			</div>
		</div>
		<div class="tab-pane active" id="second">
			<div class="container">
				<form name="paramsForm" class="form-horizontal ng-pristine ng-scope ng-invalid ng-invalid-required">
					<fieldset>
						<legend>Определение объекта</legend>
						<div class="form-group">
							<label class="control-label col-sm-3">Номер объекта</label>
							<div class="col-sm-3 col-md-2">
								<input type="text" class="form-control ng-pristine ng-untouched ng-valid" ng-model="realEstate.id" ng-readonly="true" readonly="readonly" value="2">
							</div>
							<label class="control-label col-sm-2">Имя объекта</label>
							<div class="col-sm-4 col-md-5">
								<input type="text" name="objectName" class="form-control ng-pristine ng-untouched ng-valid ng-valid-required" ng-model="realEstate.objectName" required="" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Состояние</label>
							<div class="col-sm-4">
								<!-- ngRepeat: it in states --><div class="radio ng-scope" ng-repeat="it in states">
									<label class="ng-binding">
										<input name="state" type="radio" ng-model="realEstate.state" value="OWN" required="" class="ng-pristine ng-untouched ng-valid ng-valid-required">
										Свой
									</label>
								</div><!-- end ngRepeat: it in states --><div class="radio ng-scope" ng-repeat="it in states">
									<label class="ng-binding">
										<input name="state" type="radio" ng-model="realEstate.state" value="FOREIGN" required="" class="ng-pristine ng-untouched ng-valid ng-valid-required">
										Чужой
									</label>
								</div><!-- end ngRepeat: it in states -->
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Тип объекта</label>
							<div class="col-sm-4">
								<select name="type" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" ng-model="realEstate.type" ng-options="t.val as t.name for t in types" ng-change="changeObjectType()" required=""><option value="" selected="selected" label=""></option><option value="0" label="Земельный участок">Земельный участок</option><option value="1" label="Имущественный комплекс">Имущественный комплекс</option><option value="2" label="Отдельно стоящее здание">Отдельно стоящее здание</option></select>
							</div>
						</div>
						<!-- ngIf: realEstate.type == 'IK' -->
						<div class="form-group">
							<div class="col-sm-offset-3 col-sm-9">
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="realEstate.segmenting" class="ng-pristine ng-untouched ng-valid">
										Возможность разбиения
									</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Класс объекта</label>
							<div class="col-sm-9">
								<!-- ngRepeat: it in kinds --><div class="checkbox ng-scope" ng-repeat="it in kinds">
									<label class="ng-binding">
										<input type="checkbox" name="objectClasses" checklist-value="it.val" ng-model="checked" class="ng-scope ng-pristine ng-untouched ng-valid">
										Промышленные объекты
									</label>
								</div><!-- end ngRepeat: it in kinds --><div class="checkbox ng-scope" ng-repeat="it in kinds">
									<label class="ng-binding">
										<input type="checkbox" name="objectClasses" checklist-value="it.val" ng-model="checked" class="ng-scope ng-pristine ng-untouched ng-valid">
										Деловое строительство
									</label>
								</div><!-- end ngRepeat: it in kinds --><div class="checkbox ng-scope" ng-repeat="it in kinds">
									<label class="ng-binding">
										<input type="checkbox" name="objectClasses" checklist-value="it.val" ng-model="checked" class="ng-scope ng-pristine ng-untouched ng-valid">
										Жилищное строительство
									</label>
								</div><!-- end ngRepeat: it in kinds --><div class="checkbox ng-scope" ng-repeat="it in kinds">
									<label class="ng-binding">
										<input type="checkbox" name="objectClasses" checklist-value="it.val" ng-model="checked" class="ng-scope ng-pristine ng-untouched ng-valid">
										Загородные объекты
									</label>
								</div><!-- end ngRepeat: it in kinds --><div class="checkbox ng-scope" ng-repeat="it in kinds">
									<label class="ng-binding">
										<input type="checkbox" name="objectClasses" checklist-value="it.val" ng-model="checked" class="ng-scope ng-pristine ng-untouched ng-valid">
										Авто
									</label>
								</div><!-- end ngRepeat: it in kinds -->
							</div>
						</div>
						<!-- ngRepeat: cn in realEstate.cadastralNumbers track by $index -->
					</fieldset>
					<fieldset>
						<legend>Адрес</legend>
						<div class="form-group">
							<label class="control-label col-sm-3">Точный адрес</label>
							<div class="col-sm-9">
								<input type="text" class="form-control ng-pristine ng-untouched ng-valid" name="fullAddress" ng-model="realEstate.fullAddress">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Адрес из объявления</label>
							<div class="col-sm-9">
								<input type="text" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" name="advertAddress" ng-model="realEstate.advertAddress" required="">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3">Административный район</label>
							<div class="col-sm-5">
								<select name="administrativeRegion" ng-model="realEstate.administrativeRegion" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" required=""><option value="? object:null ?"></option>
									<option disabled="" value="Административные районы СПб">Административные районы СПб</option>
									<!-- ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Адмиралтейский">Адмиралтейский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Василеостровский">Василеостровский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Выборгский">Выборгский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Калининский">Калининский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Кировский">Кировский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Колпинский">Колпинский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Красногвардейский">Красногвардейский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Красносельский">Красносельский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Кронштадтcкий">Кронштадтcкий</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Курортный">Курортный</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Московский">Московский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Невский">Невский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Петроградский">Петроградский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Петродворцовый">Петродворцовый</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Приморский">Приморский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Пушкинский">Пушкинский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Фрунзенский">Фрунзенский</option><!-- end ngRepeat: l in spbLocations --><option ng-repeat="l in spbLocations" class="ng-binding ng-scope" value="Центральный">Центральный</option><!-- end ngRepeat: l in spbLocations -->
									<option disabled="" value="Административные районы ЛО">Административные районы ЛО</option>
									<!-- ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Бокситогорский">Бокситогорский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Волосовский">Волосовский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Волховский">Волховский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Всеволожский">Всеволожский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Выборгский">Выборгский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Гатчинский">Гатчинский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Кингисеппский">Кингисеппский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Киришский">Киришский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Кировский">Кировский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Лодейнопольский">Лодейнопольский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Ломоносовский">Ломоносовский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Лужский">Лужский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Подпорожский">Подпорожский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Приозерский">Приозерский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Сланцевский">Сланцевский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Тихвинский">Тихвинский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Тосненский">Тосненский</option><!-- end ngRepeat: l in loLocations --><option ng-repeat="l in loLocations" class="ng-binding ng-scope" value="Сосновоборский городской округ">Сосновоборский городской округ</option><!-- end ngRepeat: l in loLocations -->
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3"></label>
							<div class="col-sm-9">
								<button class="btn btn-primary">Изменить</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="js/vendor/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="js/vendor/icheck/icheck.min.js"></script>
<script type="text/javascript" src="js/vendor/bootstrap/dropdown.js"></script>
<script type="text/javascript" src="js/vendor/bootstrap/tab.js"></script>
<script type="text/javascript" src="js/vendor/bootstrap/button.js"></script>
<script type="text/javascript" src="js/base.js"></script>
</html>